.right-sites {
  text-align: right;
}
h3 {
  color: #d93025;
}
.line {
  border-top: 1px solid #ebebeb;
  width: 100%;
  position: relative;
  top: 16px;
  margin-bottom: 50px;
  float: right;
}
.all {
  margin-left: 100px;
  height: 40px;
  width: 520px;
  border: 1px solid #dfe1e5;
  outline-color: #4d90fe;
  box-shadow: -2px green;
}
